.seta3 img{
    width: 2vw;
    margin-top: 13vw;
    transform: translateX(10vw);
}

.seta4 img{
    width: 2vw;
    margin-top: 13vw;
    transform: translateX(0.5vw);
}

.falsalinha{
    width: 50%;
}

.linha{
    width: 50%;
    border-top: 0.078125vw solid #bbb;
    border-radius: 0.078125vw;
}

.iluminacao3 h3{
    text-align: center;
    margin-top: 1.5625vw;
    color: #6D9CD8;
    margin-bottom: 1.0416666666666667vw;
    font-size: 1.4vw;

}

.iluminacao3 h1{
    text-align: center;
    color: white;
    font-size: 2.6041666666666665vw;
    margin-bottom: 5.208333333333333vw;
}

.sessao2 {
    display: flex;
}

.imagem2 {
    width:50%;
}

.imagem2 img{
   width:50%;
   margin-left: 18.75vw;
   margin-bottom: 4.6041666666666665vw;
}


.paragrafo {
    width: 50%;
}

.texto2 p{
    font-size: 1.4vw;
    color: white;
    line-height: 2.34375vw;
    margin-top: -0.4vw;
}


.botao-4 button{
    background-color: #09274F;
    border-radius:1.171875vw;
    color: white;
    padding: 1.171875vw  4.0625vw;
    text-align: center;
    margin: 0.3125vw 0.15625vw;
    cursor: pointer;
    margin-left:  0.5208333333333334vw;
    font-size: 1.5625vw; 
    margin-top: 2.6041666666666665vw;

}

/* --------------versão mobile------------------ */


@media only screen and (max-width: 600px) {
    
    .iluminacao3 h3 {
        text-align: center;
        margin-top: 5vw;
        color: #6D9CD8;
        margin-bottom: 1.0416666666666667vw;
        font-size: 4vw;
    } 

    .iluminacao3 h1 {
        text-align: center;
        color: white;
        font-size: 5vw;
        margin-bottom: 5.208333333333333vw;
    }   

    .linha{
        width: 100%;
        border-top: 0.078125vw solid #bbb;
        border-radius: 0.078125vw;
    }

    .sessao2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    .seta3 img, .seta4 img {
        display: none !important;
    }

    .imagem2 img {
        width: 100%;
        margin-left: 20vw;
        margin-bottom: 4.6041666666666665vw;
    }
   
    .texto2 p {
        font-size: 3.5vw;
        color: white;
        line-height: 5vw;
        text-align: center;
        margin-top: 5vw;    
    }

    .botao-4 button {
        background-color: #09274F;
        border-radius: 3vw;
        color: white;
        padding: 1.171875vw 4.0625vw;
        text-align: center;
        margin: 0.3125vw 0.15625vw;
        cursor: pointer;
        margin-left: 0.5208333333333334vw;
        font-size: 4vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }   
}
